<a href="https://colab.research.google.com/github/JanetteFu/Message_Detect/blob/main/FrequencyTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
train_data = pd.read_csv('/content/sample_data/train_clean_data.csv')
test_data = pd.read_csv('/content/sample_data/test_clean_data.csv')

In [ ]:
test1 = test_data.loc[test_data['target'] == 1]
test0 = test_data.loc[test_data['target'] == 0]

In [ ]:
train1 = train_data.loc[train_data['target'] == 1]
train0 = train_data.loc[train_data['target'] == 0]

In [ ]:
train0[0:5]

   Unnamed: 0  ...                                            hashtag
0       30519  ...                                     ['perplexing']
1       18241  ...  ['jobs', 'philippinesð', 'thailandð', 'singapo...
2       29769  ...                ['i_am', 'positive', 'affirmation']
3        7982  ...  ['social', 'analytics', 'success', 'tbt', 'mai...
4       27395  ...                                      ['euros2016']

[5 rows x 4 columns]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
def get_top_n_words(corpus, n=None):
    vec = CountVectorizer().fit(corpus)
    bag_of_words = vec.transform(corpus)
    sum_words = bag_of_words.sum(axis=0) 
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:n]

In [ ]:
common_words1 = get_top_n_words(train1['text'], 150)
target1_dic = []
for word, freq in common_words1:
    target1_dic.append(word)
common_words0 = get_top_n_words(train0['text'].values.astype('U'), 150)
target0_dic = []
for word, freq in common_words0:
    target0_dic.append(word)

In [ ]:
target1_a = target1_dic[0:50]
target1_b = target1_dic[50:100]
target1_c = target1_dic[100:]
target0_a = target0_dic[0:50]
target0_b = target0_dic[50:100]
target0_c = target0_dic[100:]

In [ ]:
t1_score3 = set(target1_a).difference(set(target0_dic))
t1_score2_a = set(target1_a).intersection(set(target0_c))
t1_score2_b = set(target1_b).difference(set(target0_dic))
t1_score1_a = set(target1_a).intersection(set(target0_b))
t1_score1_b = set(target1_b).intersection(set(target0_c))
t1_score1_c = set(target1_c).difference(set(target0_dic))
t0_score3   = set(target0_a).difference(set(target1_dic))
t0_score2_a = set(target0_a).intersection(set(target1_c))
t0_score2_b = set(target0_b).difference(set(target1_dic))
t0_score1_a = set(target0_a).intersection(set(target1_b))
t0_score1_b = set(target0_b).intersection(set(target1_c))
t0_score1_c = set(target0_c).difference(set(target1_dic))

In [ ]:
t1_score2 = list(t1_score2_a) + (list(t1_score2_b))
t1_score1 = list(t1_score1_a) + (list(t1_score1_b))+(list(t1_score1_c))
t0_score2 = list(t0_score2_a) + (list(t0_score2_b))
t0_score1 = list(t0_score1_a) + (list(t0_score1_b))+(list(t0_score1_c))

In [ ]:
list(t1_score1)

['who',
 'about',
 'he',
 'by',
 'no',
 'they',
 'how',
 'if',
 'people',
 'being',
 'never',
 'think',
 'feel',
 'her',
 'been',
 'right',
 'temple',
 'president',
 'hatred',
 'man',
 'sikh',
 'calgary',
 'condemns',
 'act',
 'still',
 'wso',
 'own',
 'paladino',
 'hispanic',
 'thanks',
 'suppoers',
 'let',
 'tampa',
 'media',
 'these',
 'call',
 'maga',
 'says',
 'same',
 'police',
 'than',
 'say',
 'year',
 'words',
 'bigot',
 'vandalised',
 'she',
 'guy',
 'brexit',
 'latest',
 'most']

In [ ]:
dictionary = list(t1_score3) + t1_score2 + t1_score1 + list(t0_score3) + t0_score2 + t0_score1

In [ ]:
 score = [-3]*8 + [-2]*29 + [-1]*51 + [3]*10 + [2]*27 + [1]*49

In [ ]:
test_data.text[0]
test_data.target[0]

0

In [ ]:
prediction = []
for j in range(0,len(test_data.text)):
  tweet_score = 0
  for i in range(0,len(dictionary)):
    if dictionary[i] in test_data.text[j]:
      tweet_score += score[i]
  if tweet_score < 0:
    prediction.append(1)
  else:
    prediction.append(0)

In [ ]:
target = list(test_data.target)

In [ ]:
count = 0
for i in range(0,len(prediction)):
  if target[i] == prediction[i]:
    count += 1

accuracy = count/len(prediction)
print(accuracy)

0.856740694401001

In [ ]:
test_data.text[4]
test_data.target[4]

0