<a href="https://colab.research.google.com/github/JanetteFu/Message_Detect/blob/main/Frequenc_on_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('/content/sample_data/clean_tweets_sentiment140_32k.csv')
data.tail()

       Unnamed: 0  ... sentiment
31995     1599995  ...         4
31996     1599996  ...         4
31997     1599997  ...         4
31998     1599998  ...         4
31999     1599999  ...         4

[5 rows x 5 columns]

In [ ]:
data0 = data.loc[data['sentiment'] == 0]
data4 = data.loc[data['sentiment'] == 4]

In [ ]:
data0.shape

(16000, 5)

shuffle it

In [ ]:
data0_train = data0[0:14400]
data0_test = data0[14400:]
data4_train = data4[0:14400]
data4_test = data4[14400:]

train_frames = [data0_train,data4_train]
test_frames = [data0_test,data4_test]

In [ ]:
train = pd.concat(train_frames)
test = pd.concat(test_frames)
train.head()
test.head()

       Unnamed: 0  ... sentiment
14400       14400  ...         0
14401       14401  ...         0
14402       14402  ...         0
14403       14403  ...         0
14404       14404  ...         0

[5 rows x 5 columns]

In [ ]:
print(test['text'].isnull().sum())

4

In [ ]:
test = test.dropna(subset=['text'])

In [ ]:
test.shape

(3196, 5)

In [ ]:
from sklearn.utils import shuffle
train = shuffle(train)
test = shuffle(test)

In [ ]:
train.to_csv('alexa_train.csv',encoding='utf-8')
test.to_csv('alexa_test.csv',encoding='utf-8')

In [ ]:
test.to_csv('alexa_test.csv',encoding='utf-8')

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
def get_top_n_words(corpus, n=None):
    vec = CountVectorizer().fit(corpus)
    bag_of_words = vec.transform(corpus)
    sum_words = bag_of_words.sum(axis=0) 
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:n]

In [ ]:
common_words4 = get_top_n_words(data4_train['text'].values.astype('U'), 600)
target4_dic = []
for word, freq in common_words4:
    target4_dic.append(word)
common_words0 = get_top_n_words(data0_train['text'].values.astype('U'), 600)
target0_dic = []
target0_freq = []
for word, freq in common_words0:
    target0_dic.append(word)

In [ ]:
target4_dic_2 = []
for word, freq in gram_2_4:
    target4_dic_2.append(word)

In [ ]:
len(target4_dic_2)

100

In [ ]:
stopwords = set(target4_dic).intersection(set(target0_dic))

In [ ]:
stopwords2 = pd.DataFrame(list(stopwords ))
stopwords2.to_csv('stopwords2.csv', index=False)

In [ ]:
target4_a = target4_dic[0:150]
target4_b = target4_dic[150:300]
target4_c = target4_dic[300:450]
target4_d = target4_dic[450:]
target0_a = target0_dic[0:150]
target0_b = target0_dic[150:300]
target0_c = target0_dic[300:450]
target0_d = target0_dic[450:]

In [ ]:
t1_score4 = set(target4_a).difference(set(target0_dic))
t1_score3_a = set(target4_a).intersection(set(target0_d))
t1_score2_a = set(target4_a).intersection(set(target0_c))
t1_score3_b = set(target4_b).difference(set(target0_dic))
t1_score1_a = set(target4_a).intersection(set(target0_b))
t1_score2_b = set(target4_b).intersection(set(target0_d))
t1_score1_b = set(target4_b).intersection(set(target0_c))
t1_score1_c = set(target4_c).intersection(set(target0_d))
t1_score2_c = set(target4_c).difference(set(target0_dic))
t1_score1_d = set(target4_d).difference(set(target0_dic))
t0_score4   = set(target0_a).difference(set(target4_dic))
t0_score3_a = set(target0_a).intersection(set(target4_d))
t0_score2_a = set(target0_a).intersection(set(target4_c))
t0_score3_b = set(target0_b).difference(set(target4_dic))
t0_score2_b = set(target0_b).intersection(set(target4_d))
t0_score1_a = set(target0_a).intersection(set(target4_b))
t0_score1_b = set(target0_b).intersection(set(target4_c))
t0_score2_c = set(target0_c).difference(set(target4_dic))
t0_score1_c = set(target0_c).intersection(set(target4_d))
t0_score1_d = set(target0_d).difference(set(target4_dic))

In [ ]:
t1_score3 = list(t1_score3_a) + (list(t1_score3_b))
t1_score2 = list(t1_score2_a) + (list(t1_score2_b))+(list(t1_score2_c))
t1_score1 = list(t1_score1_a) + (list(t1_score1_b))+(list(t1_score1_c))+(list(t1_score1_d))
t0_score3 = list(t0_score3_a) + (list(t0_score3_b))
t0_score2 = list(t0_score2_a) + (list(t0_score2_b))+(list(t0_score2_c))
t0_score1 = list(t0_score1_a) + (list(t0_score1_b))+(list(t0_score1_c))+(list(t0_score1_d))

In [ ]:
t0_score4

{'sad', 'sick'}

In [ ]:
len(target4_2)

68

In [ ]:
target0_2 = set(target0_dic_2).difference(set(target4_dic_2))
target4_2 = set(target4_dic_2).difference(set(target0_dic_2))

In [ ]:
dictionary = list(t1_score4) + t1_score3 + t1_score2 + t1_score1 + list(t0_score4) + t0_score3 + t0_score2 + t0_score1
dic_2 = list(target4_2) + list(target0_2)
score = [3]*12 + [2]*59 + [1]*161 + [-4]*2 + [-3]*16 + [-2]*56 + [-1]*147
score_2 = [4]*68 + [-4]*68

In [ ]:
a = list(test.text)

In [ ]:
len(a)

3196

In [ ]:
b = dic_2[0].split()

In [ ]:
b[0] in ['well','done']

True

In [ ]:
prediction = []
time = 0
for j in range(0,len(a)):
  tweet_score = 0
  temp = a[j].split()
  for i in range(0,len(dictionary)):
    if dictionary[i] in temp:
      tweet_score += score[i]
  for k in range(0,len(dic_2)):
    b = dic_2[k].split()
    if b[0] in temp:
      c = temp.index(b[0])+1
      if (c+1)<len(temp):
        if temp[c] == b[1]:
          tweet_score += score_2[k]
  if tweet_score < 0:
    prediction.append(0)
  else:
    prediction.append(4)
  time += 1

In [ ]:
len(prediction)

3196

In [ ]:
target = list(test.sentiment)
count = 0
for i in range(0,len(prediction)):
  if target[i] == prediction[i]:
    count += 1

accuracy = count/len(prediction)
print(accuracy)

0.6905506883604505

n-grams

In [ ]:
import re, nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
stop_words = set(stopwords.words('english'))
wordnet_lemmatizer = WordNetLemmatizer()

def normalizer(tweet):
  tokens = nltk.word_tokenize(tweet)
  filtered_result = list(filter(lambda l: l not in stop_words, tokens))
  lemmas = [wordnet_lemmatizer.lemmatize(t) for t in filtered_result]
  return lemmas

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
train.head()

       Unnamed: 0  ... sentiment
26779     1594779  ...         4
17316     1585316  ...         4
18304     1586304  ...         4
8745         8745  ...         0
23455     1591455  ...         4

[5 rows x 5 columns]

In [ ]:
pd.set_option('display.max_colwidth', -1)
train['text'] = train.text.apply(str)
train['normalized_tweet'] = train.text.apply(normalizer)
train[['text', 'normalized_tweet']].head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

                                                                                                                           text                                                                      normalized_tweet
26779  thanks                                                                                                                    [thanks]
17316  ah v good i am normally at txoko with pe a de vodka or in oberena i ll be the drunk guy with the camera over my shoulder  [ah, v, good, normally, txoko, pe, de, vodka, oberena, drunk, guy, camera, shoulder]
18304  making history that s way cute julia i can not wait to meet you at the gigs eee how s everything                          [making, history, way, cute, julia, wait, meet, gig, eee, everything]
8745   man my wrist hurts i hate this                                                                                            [man, wrist, hurt, hate]
23455  going to the gym                                                                                                          [going, gym]

In [ ]:
from nltk import ngrams
def ngrams(input_list):
  #onegrams = input_list
  bigrams = [' '.join(t) for t in list(zip(input_list, input_list[1:]))]
  trigrams = [' '.join(t) for t in list(zip(input_list, input_list[1:], input_list[2:]))]
  return bigrams + trigrams

train['grams'] = train.normalized_tweet.apply(ngrams)
train[['grams']].head()

                                                                                                                                                                                                                                                                                                                                               grams
26779  []
17316  [ah v, v good, good normally, normally txoko, txoko pe, pe de, de vodka, vodka oberena, oberena drunk, drunk guy, guy camera, camera shoulder, ah v good, v good normally, good normally txoko, normally txoko pe, txoko pe de, pe de vodka, de vodka oberena, vodka oberena drunk, oberena drunk guy, drunk guy camera, guy camera shoulder]
18304  [making history, history way, way cute, cute julia, julia wait, wait meet, meet gig, gig eee, eee everything, making history way, history way cute, way cute julia, cute julia wait, julia wait meet, wait meet gig, meet gig eee, gig eee everything]
8745   [man wrist, wrist hurt, hurt hate, man wrist hurt, wrist hurt hate]
23455  [going gym]

In [ ]:
import collections
def count_words(input):
  count = collections.Counter()
  for row in input:
    for word in row:
      count[word] += 1
  return count

In [ ]:
gram_2_0 = train[(train.sentiment == 0)][['grams']].apply(count_words)['grams'].most_common(100)

In [ ]:
gram_2_0[0:5]

[('gon na', 199),
 ('last night', 194),
 ('wan na', 165),
 ('feel like', 117),
 ('wish could', 113)]

In [ ]:
gram_2_4 = train[(train.sentiment == 4)][['grams']].apply(count_words)['grams'].most_common(100)

In [ ]:
import numpy as np
from scipy.sparse import hstack
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(ngram_range=(1,2))

In [ ]:
vectorized_data = count_vectorizer.fit_transform(train.text)
indexed_data = hstack((np.array(range(0,vectorized_data.shape[0]))[:,None], vectorized_data))

In [ ]:
indexed_data

TypeError: ignored

In [ ]:
targets = train.sentiment