<a href="https://colab.research.google.com/github/JanetteFu/Message_Detect/blob/main/TextBlob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

classify with naive Bayes

In [ ]:
import pandas as pd
train_data = pd.read_csv('/content/sample_data/train_clean_data.csv')

In [ ]:
test_data = pd.read_csv('/content/sample_data/test_clean_data.csv')

In [ ]:
train_data[0:5]

   Unnamed: 0  ...                                            hashtag
0       30519  ...                                     ['perplexing']
1       18241  ...  ['jobs', 'philippinesð', 'thailandð', 'singapo...
2       29769  ...                ['i_am', 'positive', 'affirmation']
3        7982  ...  ['social', 'analytics', 'success', 'tbt', 'mai...
4       27395  ...                                      ['euros2016']

[5 rows x 4 columns]

In [ ]:
train1 = train_data.loc[train_data['target'] == 1]
train0 = train_data.loc[train_data['target'] == 0]

In [ ]:
test1 = test_data.loc[test_data['target'] == 1]
test0 = test_data.loc[test_data['target'] == 0]

In [ ]:
test1.shape

(208, 4)

In [ ]:
text_list_train1 = list(train1.text)
text_list_train0 = list(train0.text[0:2034])

In [ ]:
text_list_test1 = list(test1.text)
text_list_test0 = list(test0.text[0:208])

In [ ]:
text_list_train1.extend(text_list_train0)

In [ ]:
text_list_test1.extend(text_list_test0)

In [ ]:
len(text_list_train1)

4068

In [ ]:
label_list_train1 = list(train1.target)
label_list_train0 = list(train0.target[0:2034])

In [ ]:
label_list_train1.extend(label_list_train0)
len(label_list_train1)

4068

In [ ]:
label_list_test1 = list(test1.target)
label_list_test0 = list(test0.target[0:208])
label_list_test1.extend(label_list_test0)
len(label_list_test1)

416

In [ ]:
train_list = []
for i in range(0,4068):
  a = (text_list_train1[i],label_list_train1[i])
  train_list.append(a)

In [ ]:
train_list[0:5]

[('not to sound but has her looks to fall back on unlike # nunes good luck both',
  1),
 ('# zionism is a form of', 1),
 ('all happy for # lgbtfamily but what i do not get is the incessant but thin veiled against other gay minorities',
  1),
 ('paul beloy is still an issue at varying levels in belgian football', 1),
 ('this is really telling # microaggressions # race # whiteprivilege # antiblackness',
  1)]

In [ ]:
import random
random.shuffle(train_list)

In [ ]:
random.shuffle(train_list)
train_list[0:5]

[('great to meet the best # gin experience in # london # worldginday tomorrow',
  0),
 ('no liberal believes that we are the pay of inclusivity who believes in equality for all anywhere you are a tra',
  1),
 ('i felt that lawrence fishburn was added as the magical negro hollywood stereotypes are made of',
  1),
 ('yesterday s evening walk i thought a lot about the victims of # orlando and even the sky seemed # desperate',
  0),
 ('thinking of all the lovely hats which have gone off to ascot this week enjoy ladies # aroundhampshire',
  0)]

In [ ]:
test_list = []
for i in range(0,416):
  a = (text_list_test1[i],label_list_test1[i])
  test_list.append(a)

In [ ]:
random.shuffle(test_list)
random.shuffle(test_list)
test_list[0:5]

[('do you want to meet the love of your life look in the mirror byron katie # love # women',
  0),
 ('pre crime in germany of all places did they make them wear badges', 1),
 ('seeing everyone s cool and # beautifullyobnoxious hair that people have been posting makes me so # dyehappy # gooddyeyoung',
  0),
 ('nigger # lifelessons of a white kid who grew up in the s # blogpost # whitepeople # respect',
  1),
 ('another example of # religiouspsychosis it s an epidemic of brutality ignorance',
  0)]

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
from textblob import TextBlob
from textblob.classifiers import NaiveBayesClassifier
cl = NaiveBayesClassifier(train_list)
blob = TextBlob(test_list[0][0], classifier=cl)
blob.classify()

0

In [ ]:
test_list[0]

('do you want to meet the love of your life look in the mirror byron katie # love # women',
 0)

In [ ]:
cl.accuracy(test_list)

0.8990384615384616